.wrapper{
    display: flex;
    position: relative;
   
}
.wrapper .sidebar{
    position: absolute;
    width: 224px;
    height: 100vh;
    background-color: rgb(33, 36, 41);
    padding: 8px 0;

}
.wrapper .sidebar ul li {
    padding: 20px;
}
.wrapper .sidebar ul li a{
    opacity: 0.5;
    color: #fff;
    display: block;
    text-decoration:none;
}
.wrapper .sidebar ul li a .fas{
   width: 25px;
  
}

.wrapper .sidebar a:hover{
    opacity: 1;
}